.card {
    background: white;
    margin-bottom: 2em;
}

.card-content {
    padding: 1.4em;
    text-align: center;
}

/* Flexbox  */

@media screen and (min-width: 40em) {
    .cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: -1em;
    }

    .card {
        display: flex;
        flex: 0 1 calc(50% - .5em);
        margin-bottom: 1em;
    }
}

@media screen and (min-width: 60em) {
    .cards {
        margin-top: inherit;
    }

    .card {
        flex: 0 1 calc(25% - 1em);
        margin-bottom: 2em;
    }
}

.centered {
    margin: 0 auto;
    padding: 0 1em;
}

@media screen and (min-width: 52em) {
    .centered {
        max-width: 52em;
    }
}

.jumbotron {
    color: orange;
    text-align: center;
}

.button-row {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
}
.form{
    margin-bottom: 0;
}

.btn.btn-primary.btn-sm,
.btn.btn-warning.btn-sm
{
    margin-left: 15px;
    margin-right: 15px;
}

.banner {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-back{
    background-color: gray;
    outline-color: gray;
    border-color: gray;
}

form { margin-bottom: 10em; }







